<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14673496132-kkavddojnuef4km3a44iqd030in4dhti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14673496132-kkavddojnuef4km3a44iqd030in4dhti</string>
	<key>API_KEY</key>
	<string>AIzaSyCbbAv1LIWtfPY2uE3orpfhQ-90HQbwlog</string>
	<key>GCM_SENDER_ID</key>
	<string>14673496132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.FirebaseLoginScreen</string>
	<key>PROJECT_ID</key>
	<string>login-fc347</string>
	<key>STORAGE_BUCKET</key>
	<string>login-fc347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14673496132:ios:b9b122de1935ecaaa5d411</string>
	<key>DATABASE_URL</key>
	<string>https://login-fc347.firebaseio.com</string>
</dict>
</plist>